@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind utilities;

.cartao {
    @apply w-60 rounded-md p-2 shadow grid gap-y-2 bg-yellow-400
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: "Open Sans", sans-serif;
}

#modal {
    transform: translate(-50%, -50%);
}

#modal form label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

@